@import 'github-markdown-css/github-markdown.css';
@import 'highlight.js/styles/github-dark.css';

.code-block-head {
  background: $code-block-header-color;
  display: flex;
  justify-content: space-between;
  padding: 6px 14px;
  align-items: center;
  box-sizing: border-box;
}

.markdown-body {
  color: $text-color;
  padding: 20px;
  border-radius: 10px;
  background-color: #000;
  box-sizing: border-box;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  color: $title-color;
}

.markdown-body a {
  color: $link-color;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body ul {
  list-style-type: disc;
  margin-bottom: 10px;
}

.markdown-body ul li {
  margin-bottom: 20px;
}
