@mixin flex($row: null, $col: null) {
  display: flex;
  align-items: $col;
  justify-content: $row;
}

@mixin glass($blur: 0.8rem, $border-width: 0) {
  backdrop-filter: blur($blur);
  background-color: rgba(30, 30, 31, 0.5);
  box-shadow: rgba(172, 130, 130, 0.3) 0.2rem 0.8rem 0.8rem;
  border-width: $border-width;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4) rgba(40, 40, 40, 0.35) rgba(40, 40, 40, 0.35) rgba(255, 255, 255, 0.4);
  border-image: initial;
}

$page-bg: #e9e9e9;
$hover-bg: #31363f;
$code-bg: #ededed;
$content-bg: #ddd;
$side-bg: #f3f3f3;
$border-color: #eee;
$li-text-color: #888;
$scroll-color: #e9e9e9;

$hover-text: #eee;